$bg-navbar: rgb(43, 10, 70) !default;
$bg-hero: #640fc5 !default;
$bg-main: white !default;
$bg-links: black !default;
$links-hover: rgba(94, 93, 93, 0.993) !default;
$header-links: white !default;
$text-color: #f4f4f4 !default;
$bg-btn: (
  1: #0e6cff,
  2: #ff8700,
  3: #4caf50,
);

$border-color: white;
$button-hover: linear-gradient(rgb(0 0 0/30%) 0 0);
